.logo {
  height: 75px;
  width: 75px;
}
.moods {
  margin-left: 500px;
  margin-right: 500px;
  width: 50%;
  padding: 10px;
}
h1 {
  text-align: center;
  font-family: "Heebo", sans-serif;
  color: peachpuff;
}

body {
  background-image: url("background.jpg");
}

.card-panel {
  position: relative;
  margin-top: 0px;
}

.menu {
  font-size: larger;
}
